# Discord mobile notifications
BRUIN_ALERT_DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your_webhook_here

# Email notifications
BRUIN_ALERT_EMAIL_USERNAME=your_email@gmail.com
BRUIN_ALERT_EMAIL_FROM=your_email@gmail.com
BRUIN_ALERT_EMAIL_TO=your_email@gmail.com
BRUIN_ALERT_SMTP_PASSWORD=your_gmail_app_password_here
